.todoItem {
    padding: 20px;
    max-width: 240px;
    height: 7px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.title {
    max-width: 142px;
}