@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-display: swap;
    src: url(./Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 900;
    font-display: swap;
    src: url(./Inter-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 700;
    font-display: swap;
    src: url(./Inter-Medium.woff2) format('woff2')
}