.btnAdd {
    border: none;
    width: 36px;
    height: 32px;
    background-image: url(../../images/addButtonStatic.svg);
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all .5s ease;
}

.btnAdd:hover {
    background-image: url(../../images/addButtonHover.svg);
    transition: all .2s ease;
}