.groupConstructor {
    width: 856px;
    display: flex;
}

.groupContainer {
    display: flex;
    max-width: 734px;
    overflow-x: scroll;
}

.btnAddGroup {
    width: 122px;
    height: 17px;
    border: none;
    background-color: #F8FAFF;
    cursor: pointer;
    color: #44B1EF;
    font-weight: 700;
    padding: 0;
    margin-top: 18px;
}

.groupTodo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px;
}

.groupTitle {
    width: 260px;
    height: 34px;
    display: flex;
    align-items: center;
}

.listItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px
}