.titleChangeInput {
    width: 142px;
    border: none;
    background-color: #fff;
}

.form {}

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.titleChangeInput:hover {
    background-color: #EAF7FF;
    transition: all .5s ease
}