.titleChangeInput {
    border: none;
    background-color: #fff;
}

.form {
    max-width: 142px;
}


.fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.titleChangeInput:hover {
    background-color: #EAF7FF;
    transition: all .5s ease
}

@media screen and (max-width: 1399px) {
    form {
        max-width: calc(100px + (142 - 100) * ((100vw - 320px) / (1399 - 320)));
    }
}